@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

.btn-primary {
  @apply border border-custom-green text-white font-bold py-2 px-4 rounded-sm mt-2 mb-2 mr-7 cursor-pointer disabled:cursor-wait disabled:opacity-50;
}

.btn-secondary {
  @apply border border-custom-green text-black py-2 px-4 rounded-sm mt-2 mb-2 mr-7 cursor-pointer disabled:cursor-wait disabled:opacity-50;
}

.btn-ternary {
  @apply text-white font-bold py-2 px-4 rounded-sm mt-2 mb-2 bg-custom-green cursor-pointer disabled:cursor-wait disabled:opacity-50;

}

.active {
  background-color: rgb(60 202 98);
  color: white;
}

.inputFieldStyle {
  @apply mt-1 p-2 w-full border rounded-sm bg-white
}

.btn-active {
  width: 60px;
  height: 23px;
  border-radius: 22px;
  border: 1px;
  opacity: 0px;
  color: #38C776;
  background: #E1FFEE;
  border: 1px solid #38C776;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-Inactive {
  width: 69px;
  height: 23px;
  padding: 4px 12px 4px 12px;
  border-radius: 22px;
  border: 1px;
  opacity: 0px;
  color: #101F31;
  background: #E7F1FE;
  border: 1px solid #101F31;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-draft {
  width: 53px;
  height: 23px;
  padding: 4px 12px 4px 12px;
  border-radius: 22px;
  border: 1px;
  opacity: 0px;
  color: #FF8A00;
  background: #FFF6D4;
  border: 1px solid #FF8A00;
  display: flex;
  justify-content: center;
  align-items: center;
}
